<div class="propertiesContent nodeInspector">
    <section class="collapsible" id="propertiesSectionNode">
        <h4></h4>
        <p class="noSelection">
            select a graph node to see its properties
        </p>
    </section>
</div>